form {
  border: 1px solid #ccc;
  padding: 15px;
  width: 300px;
  
}
.formdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  box-sizing: border-box;
}
.validform{
  border: 2px solid red;
  border-radius: 5px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  border: 1px solid #aaa;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.card {
  position: relative;
  width: 250px;
  padding: 15px;
  margin: 10px;
  background: #f2f2f2;
  border-radius: 10px;
}

.card-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu-icon {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.card-menu {
  position: absolute;
  top: 25px;
  right: 5px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-menu button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}
.card-img{
  border-radius: 20px;
}
.workbtns{
  display: flex;
  gap: 20px;
}
.workbtns button{
  padding: 5px 10px;
  background-color: rgb(152, 72, 227);
  border: 2px solid rgb(152, 72, 227);
  width: 140px;
  height: 60px;
  color: white;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
}
.workbtns button:hover{
  background-color: rgb(120, 17, 215);
}